﻿@model Web.Models.BookModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

Title: @Model.SelectedBook.Title
<br />
Author: @Model.SelectedBook.Author.FirstName @Model.SelectedBook.Author.LastName
